body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h2 {
    margin-top: 10px;
    font-size: 18px;
}

.movie-card p {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}
